// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_user_showpage{
  margin-bottom: 20px; 
}

#back_to_admin_page{
  margin: 20px 0;
}

#admin_user_name{
  text-align: center;
}