<div class="mx-auto" style="width: 300px;">
  <div>
    <h1 class="text-danger">404頁面</h1>
    <hr>
    <p class="lead">抱歉，您要訪問的頁面不存在！</p>
    <p class="lead">
      <%= link_to "回到首页", root_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>