<div class="mx-auto" style="width: 300px;">
  <div>
    <h1 class="text-danger"><%= t('error.404_page') %></h1>
    <hr>
    <p class="lead"><%= t('error.error_msg') %></p>
    <p class="lead">
      <%= link_to t('views.home'), root_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>