<div class="mx-auto" style="width: 300px;">
  <div>
    <h1 class="text-danger">500頁面</h1>
    <hr>
    <p class="lead">抱歉，伺服器內部出錯，請從新整理</p>
    <p class="lead">
      <%= link_to "回到首页", root_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>